<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LyncFellow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LyncFellow.Properties.Settings>
            <setting name="DanceOnIncomingCall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RedOnDndCallBusy" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </LyncFellow.Properties.Settings>
    </userSettings>
</configuration>